<%= render partial: "scoresheets/shared/round_info",
           locals: {
            round: current_round,
            rules: current_round.scoresheet.data.select { |key, value| value.is_a?(Hash) && value["value"] == true }
           } %>


<div data-controller="oh-hell">
    <% if flash[:alert] %>
      <div class="alert alert-error"><%= flash[:alert] %></div>
    <% end %>

  <%= render partial: "scoresheets/shared/dual_columns_scoresheet_table",
              locals: {
                scoresheet: @scoresheet,
                cell_style_helper: method(:oh_hell_score_cell_style),
                edit_action: "click->oh-hell#editScoring",
                controller_name: "oh-hell",
                cell_types: ["bid", "score"],
              }%>

  <% if scoresheet_in_progress?(@scoresheet) %>
    <%= render partial: "scoresheets/shared/dual_columns_buttons",
                locals: {
                  scoresheet: @scoresheet,
                  first_phase_action: "click->oh-hell#editBidding",
                  round: current_round,
                  second_phase: current_round.data["phase"] != "bidding",
                  second_phase_action: "click->oh-hell#editScoring",
                  first_phase_title: "Bidding",
                  second_phase_title: "Scoring"
                } %>
  <% else %>
    <%= render partial: "scoresheets/shared/finish_game_button",
        locals: {
          scoresheet: @scoresheet,
          complete_game_action: "click->oh-hell#confirmEndGame"
        } %>
  <% end %>

  <%= render partial: "scoresheets/oh_hell/oh_hell_bidding_modal",
              locals: {
                current_round: current_round,
                cards_this_round: current_round&.data&.dig("cards_per_round"),
                ordered_players: set_ordered_players(@scoresheet, @current_round)
              } %>

  <%= render partial: "scoresheets/oh_hell/oh_hell_scoring_modal",
              locals: {
                current_round: current_round,
                cards_this_round: current_round&.data&.dig("cards_per_round"),
                ordered_players: set_ordered_players(@scoresheet, @current_round)
              } %>
</div>
