<dialog id="my_modal_4" class="modal">
  <div class="modal-box">
    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" type="button" onclick="my_modal_3.close()">✕</button>
    <h3 class="text-lg font-bold" id="modal-title"></h3>

    <div id="scoring-form" style="display: none;">
        <%= form_with url: @current_round ? round_path(@current_round) : "#", method: :patch, html: {
          id: "scoring-form",
          data: {
            turbo: "false",
            action: "ajax:success->oh-hell#closeModalAfterSuccess",
            number_of_cards: cards_this_round,
            phase: "scoring"
          }
        } do %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <% ordered_players.each do |session_player| %>
              <div class="form-control mb-2 flex flex-row items-center gap-4" data-oh-hell-player-row>
                <span class="font-bold w-24"><%= session_player.display_name %></span>
                <span class="w-20">Bid: <%= current_round&.data&.dig("bids", session_player.display_name) %></span>
                <%= select_tag(
                  "tricks[#{session_player.display_name}]",
                  options_for_select((0..cards_this_round).to_a, current_round&.data&.dig("scores", session_player.display_name)),
                  class: "select select-bordered w-24",
                  data: { oh_hell_target: "tricks", player: session_player.display_name }
                ) %>
              </div>
            <% end %>
            <%= submit_tag "Save Scores", class: "btn btn-primary mt-3", data: { oh_hell_target: "saveButton" }  %>
            <button type="button" class="btn ml-2" onclick="my_modal_3.close()">Cancel</button>
          <% end %>
        </div>
      <div id="oh-hell-modal-fields"></div>
    </div>
  </dialog>
