<table style="width:100%; border-collapse:collapse; margin-bottom:24px;">
  <thead>
    <tr>
      <th style="border-bottom:1px solid #ccc; padding:8px; width:40px; text-align:center;">Round</th>
      <% scoresheet.game_session.session_players.each do |session_player| %>
        <th style="border-bottom:1px solid #ccc; padding:8px; text-align:center;">
          <%= session_player.display_name %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% scoresheet.rounds.order(:round_number).each do |round| %>
      <tr
        <% if editable_cell?(round) %>
          class="hover:bg-blue-100 transition cursor-pointer"
          data-action="<%= edit_action %>"
          <%= tag.attributes(scoresheet_row_attributes(scoresheet, round)) %>
        <% end %>
      >
        <td style="border-right:1px solid #eee; padding:8px; width:40px; text-align:center; font-weight:bold;">
          <%= round.round_number %>
        </td>
        <% scoresheet.game_session.session_players.each do |session_player| %>
          <% score = round.data.dig("scores", session_player.display_name) %>
          <% is_first = session_player.display_name == round.data["first_finisher"] %>
          <% finish_status = round.move_for_first_finisher&.data&.dig("finish_status") %>
          <td
            style="<%= cell_style_helper.call(is_first, finish_status) %>"
            <%= tag.attributes(scoresheet_cell_attributes(round, session_player, controller_name)) %>
          >
            <%= score.present? ? score : "-" %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <tfoot>
      <tr>
        <td style="font-weight:bold; text-align:center;">Total</td>
        <% scoresheet.game_session.session_players.each do |session_player| %>
          <td style="font-weight:bold; font-size:18px; color:#6d28d9; text-align:center;">
            <%= scoresheet.rounds.sum { |round| round.data.dig("scores", session_player.display_name).to_i } %>
          </td>
        <% end %>
      </tr>
    </tfoot>
  </tbody>
</table>
