<%= render partial: "scoresheets/shared/round_info",
           locals: {
            round: @current_round,
            rules: @scoresheet.data.select { |key, value| value.is_a?(Hash) && value["value"] == true }
           } %>

<div id="controller-div" data-controller="five-crowns" data-early-finish="<%= @scoresheet.data&.dig('early_finish', 'value') %>">
  <% if flash[:alert] %>
    <div class="alert alert-error"><%= flash[:alert] %></div>
  <% end %>

  <%= render partial: "scoresheets/shared/scoresheet_table",
            locals: {
              scoresheet: @scoresheet,
              rounds: @scoresheet.rounds.order(:round_number),
              players: @scoresheet.game_session.session_players,
              cell_style_helper: method(:default_score_cell_style),
              edit_action: "click->five-crowns#editRound",
              controller_name: "five-crowns",
            } %>

    <% if scoresheet_in_progress?(@scoresheet) %>
    <%= render partial: "scoresheets/shared/end_round_button",
              locals: {
                current_round: @current_round,
                edit_action: "click->five-crowns#editRound",
              } %>
    <% else %>
      <%= render partial: "scoresheets/shared/finish_game_button",
              locals: {
                scoresheet: @scoresheet,
                complete_game_action: "click->five-crowns#confirmEndGame"
              }  %>
    <% end %>

    <%= render "scoresheets/shared/suspend_game_button" %>

    <%= render partial: "scoresheets/shared/edit_round_modal",
              locals: {
                current_round: @current_round,
                form_authenticity_token: form_authenticity_token,
                hidden_fields: {
                  "early-finish" => @scoresheet.data&.dig("early-finish", "value"),
                  "double-if-not-lowest" => @scoresheet.data&.dig("early-finish", "subrules", "double_if_not_lowest")
                },
                prefill_action: "change->five-crowns#prefillForm",
                controller_name: "five-crowns"
              } %>
</div>
