<div style="background: #f8f8f8; border-radius: 8px; padding: 12px; margin-bottom: 12px;">
  <div>Round <%= round.round_number %> of <%= @scoresheet.data["number_of_rounds"] %></div>
  <div>Dealer: <%= round.data["dealer"] %></div>
  <div>First Player: <%= round.data["first_player"] %></div>
  <div>Cards: <%= round.data["cards_per_round"] %></div>
  <div>Wild Card: <%= round.data["wild_cards"] %></div>
</div>
